div{
	width: 190px;
	height: 90px;
	margin: 0px;

	
}
.divpapa{
	width: 600px;
	height: 270px;
	border:solid 2px #DF013A;
}
.div{

	margin: 5px;
	display: inline-block;
	
}

.amarillo{
	background-color: #FFFF00;
	float: right;
}

.azul{
	background-color: #0101DF;
	float: right;
}

.rosa{
	background-color: #DF0174;
	float: right;
}